* {
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}

body {
    background-image: url(./images/marble2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
}

h1 {
    margin: 20px;
    font-size: 4rem;
}

p {
    margin: 15px;
    font-size: 3rem;
}

section {
    display: flex;
    width: 400px;
}

#container {
    background-color: #f6f6f6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000000;
}

#display {
    width: 90%;
    height: 125px;
    background-color: #7e7564ff;
    justify-content: right;
    align-items: flex-end;
    display: flex;
    margin: 10px;
    font-size: 2rem;
}

.eraseButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

button {
    border-radius: 8px;
}

#erase,
#clear {
    height: 60px;
    width: 160px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

#erase {
    background-color: #1b8c93ff;
}

#erase:hover {
    background-color: rgb(25, 127, 134);
}

#clear {
    background-color: #c18e98ff;
}

#clear:hover {
    background-color: rgb(173, 127, 137)
}


.calculatorButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 10px;
}

.calc,
.operator,
.equal {
    background-color: #d1d1d1ff;
    height: 80px;
    width: 80px;
    font-size: 1.5rem;
    margin-top: 1px;
    transition: ease-in;
}

.operator,
.equal {
    background-color: #f6f6f6ff;
}

.calc:hover {
    background-color: #c0c0c0;
}

.operator:hover,
.equal:hover {
    background-color: #e7e7e7;
}